server:
    port: 8888    

spring:
    application:
        name: some
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/heenluy/server-config-repository.git


eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka
